html, body {
    position: relative;
    height: 100%;
    background-color: $c-background-auth;
}

.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;

    @include _992 {
        padding: 0 15px;
    }
}

.main {
    font-weight: 400;
    font-size: 16px;
    height: 100%;
    color: $c-main-black;
}

.btn {
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    background: $c-main-green;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: white;
    font-weight: 700;
    text-align: center;
    transition: $transition;
    display: block;

    &:hover {
        background: $c-main-green-strong;
    }
}