.price-list {
  margin: 40px 0;

  .price-list-headline {
    font-weight: 700;
    text-align: center;
  }

  .price-list-subheadline {
    color: $c-dark-black;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  .price-list-text {
    margin-top: 24px;
  }

  table {
    margin: 0;
    border: unset;
    color: $c-dark-black;
  }

  .table-headline {
    td {
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      background: $c-gray-form-border;

      @include _768 {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  .table-subheadline {
    td {
      font-size: 22px;
      line-height: 28px;
      font-weight: 700;
      background: $c-main-red-light;

      @include _768 {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  td {
    font-size: 18px;
    line-height: 22px;

    @include _768 {
      font-size: 14px;
      line-height: 20px;
    }
  }
}