.product {

  .product__slider-wrapper {
    overflow: hidden;
    width: 40%;
    height: 70vh;
    @include _1280 {
      width: 100%;
    }
  }

  .product__header {
    display: flex;
    padding: 50px 0;

    @include _1280 {
      flex-direction: column;
    }
  }



  .product__info {
    padding-left: 50px;
    width: 60%;
    @include _1280 {
      width: 100%;
    }
  }

  .product__title {
    padding-bottom: 10px;
    color: $c-main-red;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;

    @include _1280 {
      font-size: 24px;
      line-height: 28px;
    }
  }

  .product__subtitle {
    font-weight: 700;
    padding-bottom: 10px;
  }

  .product__description {
    padding-bottom: 10px;

    ul {
      list-style: disc;
      padding-left: 30px;
    }
  }

  .product__button {
    max-width: 320px;
  }

  .product__body-nav-tabs {
    display: flex;
    gap: 15px;

  }

  .product__body-nav-tab {
    padding: 8px 16px;
    background-color: $c-white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: rgb(235, 240, 255) 0 0 0 2px;
    border: 1px solid $c-gray-form-border;
    border-bottom: none;
    transition: $transition;
    cursor: pointer;
  }

  .product__body-nav-tab.active, .product__body-nav-tab:hover {
    color: $c-white;
    background-color: $c-main-green-strong;
  }

  .product__body-content {
    position: relative;
    border-top: 1px solid $c-main-green-strong;
    margin-left: 1px;
    padding: 20px 0;
    overflow: hidden;
  }


  .product__body-content-benefits, .product__body-content-specifications, .product__body-content-equipment, .product__body-content-documentations {
    opacity: 0;
    height: 100%;
    max-height: 0;
    transition: $transition;
    z-index: -5;
    position: relative;
  }

  .product__body-content-benefits.active, .product__body-content-specifications.active, .product__body-content-equipment.active, .product__body-content-documentations.active {
    opacity: 1;
    max-height: 10000000px;
    z-index: 1;
  }

  .product__body-content-documentations.active {
    opacity: 1;
    max-height: 10000000px;
    z-index: 1;
  }
  .product__body-content-documentations {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .product__body-content-documentation {
    display: flex;
    gap: 10px;
    align-items: center;
    transition: $transition;
    color: $c-main-black;
    img {
      width: 32px;
      height: 32px;
    }

    &:hover {
      color: $c-main-green-strong;
    }
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  body {
    background: #000;
    color: #000;
  }

  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .product__slider-2 {
    position: relative;
    height: 80%;
    width: 100%;
    .swiper-slide {
      border: 1px solid $c-gray-form-border;
      box-shadow: $c-focus-border;
      border-radius: 20px;
    }

  }

  .product__slider {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .product__slider .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .product__slider .swiper-slide-thumb-active {
    opacity: 1;
    border: 1px solid $c-main-red;
    border-radius: 10px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }



  .swiper-button-next, .swiper-button-prev {
    color: $c-main-red;
  }
}