.registration-page, .login-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $c-background-auth;
  min-height: 70vh;

  .message-after-register {
    width: 100%;
    max-width: 400px;
    border: 1px solid $c-gray-form-border;
    border-radius: 10px;
    background-color: $c-white;
    box-shadow: $c-focus-border;
    padding: 15px;
    text-align: center;
  }
}

.auth-form {
  width: 100%;
  max-width: 400px;
  border: 1px solid $c-gray-form-border;
  border-radius: 10px;
  background-color: $c-white;
  box-shadow: $c-focus-border;
  padding: 15px;

  .container-input {
    width: 100%;
    padding-bottom: 12px;

    label, input {
      width: 100%;
    }

    label {
      font-size: 15px;
      line-height: 18px;
      font-weight: 500;
      padding-bottom: 8px;
    }

    input {
      font-size: 14px;
      padding: 8px 12px;
      line-height: 18px;
      border-radius: 4px;
      border: 1px solid $c-gray-input-border;
      color: $c-main-black;

      &:focus {
        outline: none;
        border: 1px solid $c-main-green-light;
        box-shadow: $c-focus-border;
      }
    }

    &.error-input {
      input {
        border: 1px solid $c-main-red;
        box-shadow: $c-focus-border;
      }
    }
  }

  .alert-message, .message-error {
    color: $c-main-red;
    font-size: 12px;
    line-height: 16px;
    margin-top: 2px;
    display: block;
  }

  .alert-message {
    margin-bottom: 8px;
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
