h2 {
    font-weight: 200;
    font-size: 50px;
    line-height: 90%;
    color: $c-dark-black;
    @include _1280 {
        font-size: 32px;
    }
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}