.hero {
  padding: 50px 0;

  .hero__image {
    display: flex;

    img {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
  }

  .hero__description {
    padding-top: 10px;
  }
}