.feedback {
  margin: 40px 0;

  @include _768 {
    margin: 20px 0;
  }

  .feedback-wrapper {
    background: $c-white;
    border-radius: 20px;
    padding: 16px;

    @include _992 {
      border-radius: 10px;
    }
  }

  .feedback-headline {
    text-align: center;
    font-size: 32px;
    line-height: 48px;
    color: $c-main-red;
    font-weight: 700;

    @include _768 {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .feedback-subheadline {
    font-size: 18px;
    line-height: 24px;
    color: $c-main-black;
    text-align: center;

    @include _768 {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .feedback-btn {
    max-width: 220px;
    margin: 16px auto 0 auto;
  }
}